<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <h1>About</h1>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span8 offset2">
      <div class="hero-unit">
          <h2 class="featurette-heading">kurotrade. <span class="muted">the story.</span></h2><br />
          <p class="lead" style="text-align: justify;">kurotrade came out of the need to solve a problem. Mike started a General Partnership Investment Club with a few college buddies, it was thought of as a great way to get real experience trading and help diversify the risk by pooling smaller contributions together. After filling out a bunch of paperwork, CJSSW Investment Group was formed. The group was finally ready to start investing. However, only Mike had access to the account and the other partners often wanted updates to know what was going on.</p>
          <p class="lead" style="text-align: justify;">Mike felt his current job lacked real meaning - it was missing something. He decided to quit and join The Starter League and take the Web Development course. He went in wanting to solve a problem - create a platform where investment groups can easily monitor their stock portfolios. Mike plans to add future features to make kurotrade a powerful collaborative environment for investors.</p>
        </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span2 offset2">
      <%= image_tag '/assets/about_mike.jpg' %><br />
    </div>

    <div class="span6">
      <div class="hero-unit">
        <h2>Mike Chau</h2>
        <p class="lead" style="text-align: justify;">Mike graduated from Illinois Wesleyan University where he studied Finance and Risk Management. He is also part of The Starter League - Fall 2012 Cohort, he learned about Web Development with Ruby and Ruby on Rails framework.</p>
        <%= link_to image_tag('/assets/twitter.png'), 'https://twitter.com/money_mikec' %>
        <%= link_to image_tag('/assets/linkedin.png'), 'http://www.linkedin.com/pub/michael-chau/3a/902/727' %>
        <%= link_to image_tag('/assets/posterous.png'), 'http://mikechau.posterous.com/' %>
      </div>
    </div>
  </div>
</div>