<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <h1>Features</h1>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4 offset2">
      <div class="hero-unit">
        <h2>kurotrade supports:</h2>
        <ul>
          <li>Individual Portfolios</li>
          <li>Group Portfolios</li>
          <li>Manual Transactions</li>
          <li>CSV Uploading from Scottrade</li>
          <li>Net Asset Value</li>
        </ul><br />
        <h2>Future features:</h2>
        <ul>
          <li>One-Click CSV Uploading from Scottrade</li>
          <li>Group Collaboration tools</li>
          <li>Ownership Calculation</li>
        </ul>
      </div>
    </div>
    <div class="span4">
      <div class="hero-unit">
        <h2>Supported Brokers:</h2>
        <%= link_to image_tag('/assets/scottrade.png'), 'https://apply.scottrade.com/?refnum=USEN5849' %>
      </div>
    </div>
  </div>

</div>