<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <h1>Thanks for Signing Up!</h1>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span8 offset2">
      <div class="hero-unit">
        <h2>kurotrade will be entering beta soon.</h2>
        <p class="lead">We will be contacting users shortly, thank you for your patience and interest!</p>
        <div class="row">
          <div class="span5 offset1">
            <a href="https://twitter.com/kurotrade" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @kurotrade</a><a href="https://twitter.com/intent/tweet?text=I%20signed%20up%20for%20beta!%20%40kurotrade%20 - stock portfolio monitoring for groups!" class="twitter-mention-button pull-right" data-size="large" data-related="kurotrade">Tweet to @kurotrade</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>