<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h1>Let's create your group!</h1>
      </div>
      <div class="progress progress-success progress-striped active">
        <div class="bar" style="width: 45%">45%</div>
      </div>
      <div class="hero-unit">
        <h2>Enter the name of your group below.</h2>
        <p>Once your group has been created you will be able to add or create additional users for each of your partners whom you would like to give access to the portfolio dashboard. You can also create or join multiple groups!</p>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="span4 offset4">
      <%= render :partial => '/groups/form' %>
    </div>
  </div>
</div>